* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* colours */
  --colorWhite: #ffffff;

/* Color Theme Swatches in Hex */
  --color1: #0F228C;
  --color2: #0439D9;
  --color3: #2D6DA6;
  --color4: #F2A29B;
  --color5: #0D0D0D;
}

body {
  background-color: var(--color3);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.linktree-container {
  /* background-color: var(--color1); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 450px;
  border-radius: 10px;
  padding: 20px 0;
  /* border-radius: 67% 33% 25% 75% / 57% 73% 27% 43%; */
}

.perfil-image {
  background: url('https://plus.unsplash.com/premium_photo-1689568126014-06fea9d5d341?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 150px;
  border: 4px solid var(--color4);
  border-radius: 50%;
  position: relative;
}

img {
  height: 150px;
}

img:hover {
  transform: scale(1.5);
}

h1 {
  font-size: 30px;
  color: var(--color5);
}

p {
  font-size: 18px;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

button {
  background-color: var(--color4);
  cursor: pointer;
  margin: 0 5px;
  padding: 5px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
}

button:hover {
  background-color: var(--colorWhite);
}

.link-container {
  padding: 0 20px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

li {
  background-color: var(--colorWhite);
  width: 100%;
  list-style-type: none;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}

li:hover {
  background-color: var(--color4);
}

svg {
  font-size: 40px;
  fill: var(--color3);
}
