* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* colours */
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linktree-body {
  width: 100%;
}

.perfil-image img {
  height: 150px;
  clip-path: circle();
}

li {
  list-style-type: none;
}