* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
/* colours */
  --colorWhiteTransparense: #ffffff86;
  --colorWhite: #ffffff;

/* Color Theme Swatches in Hex */
  --color1: #011640;
  --color2: #010D26;
  --color3: #242526;
  --color4: #F26938;
  --color5: #F2522E;
}

body {
  background: url('https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  background-color: var(--color2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Raleway', sans-serif;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.linktree-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  border-radius: 10px;
  padding: 20px 0;
}

.perfil-image {
  background: url('assets/homem.png');
  background-color: var(--color1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 150px;
  border: 4px solid var(--color4);
  border-radius: 50%;
  position: relative;
}

.perfil-image:hover {
  background-size: calc(125%);
}

h1 {
  font-size: 24px;
  color: var(--color5);
  margin-bottom: 10px;
  font-weight: 700;
}

p {
  font-size: 16px;
  text-align: justify;
  color: var(--colorWhite);
  margin-bottom: 10px;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 170px;
}

img {
  cursor: pointer;
  height: 35px;
}

img:hover {
  transform: translateY(-5px);
}

.link-container {
  padding: 0 20px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

li {
  background-color: var(--colorWhiteTransparense);
  width: 100%;
  list-style-type: none;
  border: 2px solid var(--color4);
  border-radius: 10px;
  margin: 10px 0;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 7.5px 0;
  font-size: 25px;
  color: var(--color1);
}

li:hover {
  background-color: var(--color5);
}

svg {
  font-size: 30px;
  fill: var(--color1);
}

a {
  margin-top: 20px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: var(--color4);
}

a:hover {
  color: var(--colorWhite);
}


@media (max-width:450px)  { 
  .linktree-container {
    max-width: 300px;
  }
 }